* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    height: auto;
    padding-inline: 50px;
}

nav {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 80px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    display: none;
}

.logo img {
    width: 50px;
}

.link {
    width: 500px;
    height: 80px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.link li {
    list-style: none;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.link h4{
    font-size: 18px;
}

.butn {
    width: 200px;
    height: 80px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.butn button {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    border: 4px solid black;
}
.section-hero{
    width: 100%;
    height: 600px;
    /* border: 1px solid black; */
    display: flex;
}
.left{
    width: 50%;
    height: 600px;
    /* border: 1px solid black; */
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;

}
.simple{
    width: 100px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(63, 24, 24);
    background-color: rgb(75, 145, 75);
    border: none;
}
.simple p{
    font-size: 12px;
    color: black;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}
.left h2{
    font-size: 80px;
}
.left h3{
    font-size: 25px;
    color: grey;
}
.btn button{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: 4px solid black;
    font-weight: 800;
}
.span{
    font-size: 15px;
    font-weight: 700;
}
    

.right{
    width: 50%;
    height: 600px;
    /* border: 1px solid black; */
    background-image: url(./img/original-4cddfd0cbcc94b7fdc36fe7b77f62399.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


@media (max-width: 768px) {

    .main-container{
        width: 100%;
        height: auto;
    }
    nav{
        width: 100%;
        height: auto;
    }
    .menu{
        display: inline;
    }
    .menu{
        font-size: 28px;
    }
    .link{
        display: none;

    }
    .butn{
        display:none;
    }
    .section-hero{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 400px;
        justify-content:s;
    }
    .right{
        width: 100%;
        height: 500px;
        padding-top: 60px;
    }
    .left h2{
        font-size: 40px;
    }
    .left h3{
        font-size: 18px;
    }
    .btn button{
        width: 100px;
        height: 30px;
        font-size: 13px;
        border: 3px solid black;
        font-weight:600;
    }
    

    
}